<div class="vehicle-card">
  <div style="float:right"></div>
  <h3><%= vehicle[:vehicle] %></h3>
  Current Bid: $<%= number_with_delimiter(vehicle[:current_bid], :delimiter => ',') %> <br>
  Ends in: <span class="countdown" data-timestamp="<%= vehicle[:timestamp] %>"> </span>
  <%= link_to vehicle[:listing_url], target: :_blank do %>
    <%= image_tag("#{vehicle[:photo]}")%>
  <% end %>
</div>
