<h2>Trailer Hitch</h2>

<% if @posts.any? %>

  <%= form_tag("/", :method => "get", class: "autosubmit") do %>
    <div class="form-group form-dropdown">
      <%= label_tag "price" %>
      <%= select_tag :price, options_for_select(PRICE_POINTS, @price) %>
    </div>
  <% end %>

  <br>

  <h3><%= @posts.length %> listings under $<%= number_with_delimiter(@price, :delimiter => ',') %></h3>

  <div class="list">
    <% @posts.each do |vehicle| %>
      <%= render "card", vehicle: vehicle %><br>
    <% end %>
  </div>
<% else %>
  <h3>No Listings in the next 12 hours</h3>
<% end %>
